* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@513&display=swap");
body {
  background-color: #d5e1ef;
}
main {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qr-container {
  text-align: center;
  display: inline-block;
  width: 320px;
  height: 497px;
  background-color: #ffff;
  border-radius: 20px;
}
.image-container {
  width: 288px;
  height: 288px;
  border-radius: 10px;
  overflow: hidden;
  margin: 16px;
}
img {
  width: 100%;
}
h1 {
  margin: 0 16px 16px 16px;
  color: #1f314f;
  font-weight: 700;
  font-size: 22px;
  line-height: 27.72px;
}
main p {
  color: #7d889e;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1875px;
  margin: 0 32px 40px 32px;
}
.text {
  display: inline-block;
  font-family: "Outfit", sans-serif;
  font-style: normal;
  text-align: center;
}
footer {
  text-align: center;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
a:hover {
    color: red;
}
a {
    text-decoration: none;
    color: #3685FF;
    transition: 0.5s;
}
